body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
    width: 100%;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 32px);
    padding: 16px;
    background-color: #0012da;
    color: white;
    box-sizing: border-box;
    margin: 16px;
}

.mensagens, .noticias, main {
    width: calc(100% - 32px);
    padding: 16px;
    margin: 16px auto;
    border-radius: 8px;
    box-sizing: border-box;
}

.mensagens {
    background-color: #dff0d8;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    background-color: #e0e0e0;
}

.aulas {
    background-color: #ffffff;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.noticias {
    background-color: #ddd;
}

footer {
    width: calc(100% - 32px);
    text-align: center;
    padding: 16px;
    background-color: #333;
    color: white;
    margin: 16px auto;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    main {
        grid-template-columns: repeat(2, 1fr);
    }
    .noticias {
        grid-column: span 2;
    }
}
