* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    background-color: #f4f4f4;
    color: #333;
    padding: 16px;
}

header {
    padding: 16px;
    background-color: #0066B3;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

button {
    padding: 12px 20px;
    background-color: #0066B3;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00509e;
}

.icon {
    font-family: 'Material Icons Outlined';
    font-size: 24px;
    color: inherit;
    display: inline-block;
    vertical-align: middle;
}

.mensagens, .noticias, .aulas {
    margin-top: 16px;
    padding: 16px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.mensagens p, .noticias p {
    font-size: 16px;
    margin-top: 8px;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin-top: 32px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card .info {
    padding: 16px;
}

.card h3 {
    font-size: 20px;
    margin-bottom: 8px;
}

.card p {
    font-size: 16px;
    margin-bottom: 8px;
}

.card .description {
    padding: 16px;
    font-size: 14px;
    color: #666;
}

footer {
    margin-top: 32px;
    background-color: #0066B3;
    color: white;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
}

/* Estilos para o tema claro */
.light-theme {
    background-color: #ffffff;
    color: #333333;
}

.light-theme header, .light-theme footer {
    background-color: #0066B3;
}

.light-theme .mensagens, .light-theme .noticias, .light-theme .aulas {
    background-color: #ffffff;
}

/* Estilos para o tema escuro */
.dark-theme {
    background-color: #121212;
    color: #e0e0e0;
}

.dark-theme header, .dark-theme footer {
    background-color: #1f1f1f;
}

.dark-theme .mensagens, .dark-theme .noticias, .dark-theme .aulas {
    background-color: #333333;
}

/* Responsividade */
@media (max-width: 896px) {
    body {
        padding: 16px 8px;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .main {
        grid-template-columns: 1fr;
    }

    button {
        padding: 10px 16px;
        font-size: 14px;
    }
}

